<template>
  <el-container style="height: 100%;">
    <el-header>
      <span>Канал</span>
    </el-header>

    <el-main v-loading="loading">
        <div>
            <span class="input-label">Серийный номер:</span>
            <el-input  v-model="channel.serial.text_data" :disabled="true"></el-input>
        </div>
        <div>
            <span class="input-label">Дверь:</span>
            <el-input v-model="channel.door.text_data" clearable :disabled="true"></el-input>
        </div>
        <div>
            <span class="input-label">Описание:</span>
            <el-input v-model="channel.description" clearable></el-input>
        </div>

        <div>
            <span  style="float: right;">
                <el-button type="success" @click="save" v-if="adminMode">Сохранить</el-button>
                <el-button @click="cancel">Отмена</el-button>
            </span>
            <p style="clear: both;"/>
        </div>

        <div>
            <div>
                <img ref="video"></img>
            </div>
            <span v-if="channel.id">
                <el-button @click="showVideo">Видео</el-button>
                <el-button @click="showDepth">Глубина</el-button>
                <el-button @click="showInfo">Инфо</el-button>
            </span>
        </div>

        <div>
            <el-row :gutter="24">
                <el-col :span="5">
                    <span class="input-label">Нижняя граница:</span>        
                </el-col>
                <el-col :span="14">
                    <el-input v-model="channel.lowLinePos.int_data" clearable></el-input>
                </el-col>
                <el-col :span="5">
                    <el-button @click="setLowLinePos">Установить</el-button>
                </el-col>
            </el-row>

            <el-row :gutter="24">
                <el-col :span="5">
                    <span class="input-label">Верхняя граница:</span>        
                </el-col>
                <el-col :span="14">
                    <el-input v-model="channel.highLinePos.int_data" clearable></el-input>
                </el-col>
                <el-col :span="5">
                    <el-button @click="setHighLinePos">Установить</el-button>
                </el-col>
            </el-row>

            <el-row :gutter="24">
                <el-col :span="5">
                    <span class="input-label">Размер объекта:</span>        
                </el-col>
                <el-col :span="14">
                    <el-input v-model="channel.objectSizeLimit.int_data" clearable></el-input>
                </el-col>
                <el-col :span="5">
                    <el-button @click="setObjectSizeLimit">Установить</el-button>
                </el-col>
            </el-row>

            <el-row :gutter="24">
                <el-col :span="5">
                    <span class="input-label">Запись видео:</span>        
                </el-col>
                <el-col :span="14">
                    <el-input v-model="channel.recordVideo.int_data" clearable></el-input>
                </el-col>
                <el-col :span="5">
                    <el-button @click="setRecordVideo">Установить</el-button>
                </el-col>
            </el-row>

            <el-row :gutter="24">
                <el-col :span="5">
                    <span class="input-label">Запись глубины:</span>        
                </el-col>
                <el-col :span="14">
                    <el-input v-model="channel.recordDepth.int_data" clearable></el-input>
                </el-col>
                <el-col :span="5">
                    <el-button @click="setRecordDepth">Установить</el-button>
                </el-col>
            </el-row>

            <el-row :gutter="24">
                <el-col :span="5">
                    <span class="input-label">Анализ:</span>        
                </el-col>
                <el-col :span="14">
                    <el-input v-model="channel.doAnalyze.int_data" clearable></el-input>
                </el-col>
                <el-col :span="5">
                    <el-button @click="setDoAnalyze">Установить</el-button>
                </el-col>
            </el-row>

            <el-row :gutter="24">
                <el-col :span="5">
                    <span class="input-label">Индекс:</span>        
                </el-col>
                <el-col :span="14">
                    <el-input v-model="channel.index.int_data" clearable readonly></el-input>
                </el-col>
                <el-col :span="5">
                    <!-- el-button @click="setIndex">Установить</el-button -->
                </el-col>
            </el-row>

            <el-row :gutter="24">
                <el-col :span="5">
                    <span class="input-label">Дверь:</span>        
                </el-col>
                <el-col :span="14">
                    <el-input v-model="channel.door.text_data" clearable></el-input>
                </el-col>
                <el-col :span="5">
                    <el-button @click="setDoor">Установить</el-button>
                </el-col>
            </el-row>

            <el-row :gutter="24">
                <el-col :span="5">
                    <span class="input-label">Нижний порог:</span>        
                </el-col>
                <el-col :span="14">
                    <el-input v-model="channel.lowThreshold.int_data" clearable></el-input>
                </el-col>
                <el-col :span="5">
                    <el-button @click="setLowThreshold">Установить</el-button>
                </el-col>
            </el-row>

            <el-row :gutter="24">
                <el-col :span="5">
                    <span class="input-label">Верхний порог:</span>        
                </el-col>
                <el-col :span="14">
                    <el-input v-model="channel.highThreshold.int_data" clearable></el-input>
                </el-col>
                <el-col :span="5">
                    <el-button @click="setHighThreshold">Установить</el-button>
                </el-col>
            </el-row>

            <el-row :gutter="24">
                <el-col :span="5">
                    <span class="input-label">Размер эрозии:</span>        
                </el-col>
                <el-col :span="14">
                    <el-input v-model="channel.erosion_size.int_data" clearable></el-input>
                </el-col>
                <el-col :span="5">
                    <el-button @click="setErosion_size">Установить</el-button>
                </el-col>
            </el-row>


            <el-row :gutter="24">
                <el-col :span="5">
                    <span class="input-label">Близость:</span>        
                </el-col>
                <el-col :span="14">
                    <el-input v-model="channel.sNear.int_data" clearable></el-input>
                </el-col>
                <el-col :span="5">
                    <el-button @click="setSNear">Установить</el-button>
                </el-col>
            </el-row>


            <el-row :gutter="24">
                <el-col :span="5">
                    <span class="input-label">Время жизни:</span>        
                </el-col>
                <el-col :span="14">
                    <el-input v-model="channel.maxObjectFrames.int_data" clearable></el-input>
                </el-col>
                <el-col :span="5">
                    <el-button @click="setMaxObjectFrames">Установить</el-button>
                </el-col>
            </el-row>                                    

            <el-row :gutter="24">
                <el-col :span="5">
                    <span class="input-label">Обратное движение:</span>        
                </el-col>
                <el-col :span="14">
                    <el-input v-model="channel.reverse.int_data" clearable></el-input>
                </el-col>
                <el-col :span="5">
                    <el-button @click="setReverse">Установить</el-button>
                </el-col>
            </el-row>                                    
        </div>
        
    </el-main>
  </el-container>
</template>

<script>

import Vue from 'vue';

export default {
  name: 'ChannelCard',
  components: {
  },
  data() {
    return {
        channel: {
            serial: '',
            door: '',
            description: ''
        },
        loading: false,
        adminMode: false,
        stream: null
    };
  },
  methods: {
   
    async save() {
        try {
            if(!this.channel.id) {
                const t = await this.$root.getApi().channel().add(this.channel);
                this.channel.id = parseInt(t.id);
            }
            else {
                await this.$root.getApi().channel().update(this.channel);
            }
        } catch(err) {
            this.$alert(err, "Ошибка");
        }
    },
    cancel() {
        this.$router.go(-1);
    },
    complete(eventId) {
        this.$router.go(-1);
    },

    async loadData(id) {
        this.$root.getConnection().interface['control'] = {
            streamData: async (data) => {
                const urlCreator = window.URL || window.webkitURL;

                if(this.lastVideoUrl) urlCreator.revokeObjectURL(this.lastVideoUrl);
                this.$refs.video.src = null;

                const buffer = new Uint8Array(data.data);
                const index = buffer[0];
                const type = buffer[1];
                
                const blob = new Blob( [ buffer.slice(2) ], { type: "image/jpeg" } );
                this.lastVideoUrl = urlCreator.createObjectURL( blob );
                this.$refs.video.src = this.lastVideoUrl;
            }
        }

        this.loading = true;

        try {
            if(id != null) {
                this.channel = {
                    index: '',
                    door: '',
                    lowThreshold: '',
                    highThreshold: '',
                    erosion_size: '',
                    sNear: '',
                    maxObjectFrames: '',
                    reverse: ''
                };
                Object.assign(this.channel, await this.$root.getApi().channel().get(id));
                Object.assign(this.channel, await this.$root.getApi().channel().getState(this.channel.id));
            } else {
                this.channel.terminal_id = this.$route.query.terminal_id;
            }
            this.loading = false;
        } catch(err) {
            this.$alert(err, 'Ошибка');
            this.loading = false;
        }
    },

    async showVideo() {
        if(this.channel.index.int_data != -1) {
            try {
                const r = await this.$root.getApi().control().subscribeStream(this.channel.terminal_id, this.channel.index.int_data, 0);
                this.stream = {
                    index: this.channel.index.int_data,
                    type: 0
                };
                console.log('result: ' + JSON.stringify(r));
            } catch(error) {
                this.$alert(error.error, 'Ошибка');
            }
        }
    },

    async showDepth() {
        if(this.channel.index.int_data != -1) {
            try {
                const r = await this.$root.getApi().control().subscribeStream(this.channel.terminal_id, this.channel.index.int_data, 1);
                this.stream = {
                    index: this.channel.index.int_data,
                    type: 1
                };
                console.log('result: ' + JSON.stringify(r));
            } catch(error) {
                this.$alert(error.error, 'Ошибка');
            }
        }
    },

    async showInfo() {
        if(this.channel.index.int_data != -1) {
            try {
                const r = await this.$root.getApi().control().subscribeStream(this.channel.terminal_id, this.channel.index.int_data, 2);
                this.stream = {
                    index: this.channel.index.int_data,
                    type: 2
                };
                console.log('result: ' + JSON.stringify(r));
            } catch(error) {
                this.$alert(error.error, 'Ошибка');
            }
        }
    },

    async setLowLinePos() {
        try {
            const r = await this.$root.getApi().control().setChannelValue(this.channel.terminal_id, this.channel.index.int_data, 'lowLinePos', this.channel.lowLinePos.int_data);
            console.log('result: ' + JSON.stringify(r));
        } catch(error) {
            this.$alert(error.error, 'Ошибка');
        }
    },

    async setHighLinePos() {
        try {
            const r = await this.$root.getApi().control().setChannelValue(this.channel.terminal_id, this.channel.index.int_data, 'highLinePos', this.channel.highLinePos.int_data);
            console.log('result: ' + JSON.stringify(r));
        } catch(error) {
            this.$alert(error.error, 'Ошибка');
        }
    },

    async setObjectSizeLimit() {
        try {
            const r = await this.$root.getApi().control().setChannelValue(this.channel.terminal_id, this.channel.index.int_data, 'objectSizeLimit', this.channel.objectSizeLimit.int_data);
            console.log('result: ' + JSON.stringify(r));
        } catch(error) {
            this.$alert(error.error, 'Ошибка');
        }
    },

    async setRecordVideo() {
        try {
            const r = await this.$root.getApi().control().setChannelValue(this.channel.terminal_id, this.channel.index.int_data, 'recordVideo', this.channel.recordVideo.int_data);
            console.log('result: ' + JSON.stringify(r));
        } catch(error) {
            this.$alert(error.error, 'Ошибка');
        }
    },

    async setRecordDepth() {
        try {
            const r = await this.$root.getApi().control().setChannelValue(this.channel.terminal_id, this.channel.index.int_data, 'recordDepth', this.channel.recordDepth.int_data);
            console.log('result: ' + JSON.stringify(r));
        } catch(error) {
            this.$alert(error.error, 'Ошибка');
        }
    },

    async setDoAnalyze() {
        try {
            const r = await this.$root.getApi().control().setChannelValue(this.channel.terminal_id, this.channel.index.int_data, 'doAnalyze', this.channel.doAnalyze.int_data);
            console.log('result: ' + JSON.stringify(r));
        } catch(error) {
            this.$alert(error.error, 'Ошибка');
        }
    },

    async setIndex() {
        try {
            const r = await this.$root.getApi().control().setChannelValue(this.channel.terminal_id, this.channel.index.int_data, 'index', this.channel.index.int_data);
            console.log('result: ' + JSON.stringify(r));
        } catch(error) {
            this.$alert(error.error, 'Ошибка');
        }
    },

    async setDoor() {
        try {
            const r = await this.$root.getApi().control().setChannelValue(this.channel.terminal_id, this.channel.index.int_data, 'door', this.channel.door.text_data);
            console.log('result: ' + JSON.stringify(r));
        } catch(error) {
            this.$alert(error.error, 'Ошибка');
        }
    },

    async setLowThreshold() {
        try {
            const r = await this.$root.getApi().control().setChannelValue(this.channel.terminal_id, this.channel.index.int_data, 'lowThreshold', this.channel.lowThreshold.int_data);
            console.log('result: ' + JSON.stringify(r));
        } catch(error) {
            this.$alert(error.error, 'Ошибка');
        }
    },

    async setHighThreshold() {
        try {
            const r = await this.$root.getApi().control().setChannelValue(this.channel.terminal_id, this.channel.index.int_data, 'highThreshold', this.channel.highThreshold.int_data);
            console.log('result: ' + JSON.stringify(r));
        } catch(error) {
            this.$alert(error.error, 'Ошибка');
        }
    },

    async setErosion_size() {
        try {
            const r = await this.$root.getApi().control().setChannelValue(this.channel.terminal_id, this.channel.index.int_data, 'erosion_size', this.channel.erosion_size.int_data);
            console.log('result: ' + JSON.stringify(r));
        } catch(error) {
            this.$alert(error.error, 'Ошибка');
        }
    },

    async setSNear() {
        try {
            const r = await this.$root.getApi().control().setChannelValue(this.channel.terminal_id, this.channel.index.int_data, 'sNear', this.channel.sNear.int_data);
            console.log('result: ' + JSON.stringify(r));
        } catch(error) {
            this.$alert(error.error, 'Ошибка');
        }
    },

    async setMaxObjectFrames() {
        try {
            const r = await this.$root.getApi().control().setChannelValue(this.channel.terminal_id, this.channel.index.int_data, 'maxObjectFrames', this.channel.maxObjectFrames.int_data);
            console.log('result: ' + JSON.stringify(r));
        } catch(error) {
            this.$alert(error.error, 'Ошибка');
        }
    },

    async setReverse() {
        try {
            const r = await this.$root.getApi().control().setChannelValue(this.channel.terminal_id, this.channel.index.int_data, 'reverse', this.channel.reverse.int_data);
            console.log('result: ' + JSON.stringify(r));
        } catch(error) {
            this.$alert(error.error, 'Ошибка');
        }
    }
  },
  mounted() {
    this.loadData(this.$route.query.id);
    if(this.$root.connection && this.$root.connection.user && this.$root.connection.user.role == 1) this.adminMode = true;
  },
  beforeDestroy() {
      if(this.stream) this.$root.getApi().control().unsubscribeStream(this.channel.terminal_id, this.stream.index, this.stream.type).then(() => {});
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.input-label {
    display: inline-block;
    width: 130px;
}

.el-header {
  background-color: #ddd;
  color: #035597;
  line-height: 25px;
  
}

.el-main>div {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    margin: 16px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #aaaaaa;
    margin: 1em 0;
    padding: 0; 
}

</style>
