<template>
<div></div>
</template>

<script>

export default {
  name: 'Empty',
  data() {
    return {
    };
  },
  methods: {
  },
  mounted() {
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
