<template>
<el-dialog title="Вход" :visible.sync="dialogVisible" :close-on-click-modal=false :close-on-press-escape=false :show-close=false>
    <el-form :model="form">
        <el-form-item label="Имя" :label-width="formLabelWidth">
            <el-input v-model="form.login" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="Пароль" :label-width="formLabelWidth">
            <el-input type="password" v-model="form.password" auto-complete="off"></el-input>
        </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
        <el-button type="primary" :autofocus=true @click="login">Войти</el-button>
    </span>
</el-dialog>
</template>

<script>
import Vue from 'vue';
import ElementUI from 'element-ui';
import 'element-ui/lib/theme-chalk/index.css';
import locale from 'element-ui/lib/locale/lang/ru-RU';

Vue.use(ElementUI, { size: 'small' });
Vue.use(ElementUI, { locale });

export default {
    name: 'LoginDialog',
    data() {
        return {
            form: {
                login: '',
                password: '',
            },
            formLabelWidth: '120px',
            dialogVisible: true,
            loginCallback: null,
        };
    },
    methods: {
        async login() {
            try {
                var r = await this.loginCallback(this.form.login, this.form.password);
                if(r) {
                    this.close();
                    return;
                }
            } catch(err) {
                console.log('error: ' + err);
            }

            this.$alert('Не верные учетные данные', 'Ошибка', {
                confirmButtonText: 'OK',
                callback: action => {}
            });
        },
        /* show: (parent) => {
            const vueContainer = document.createElement('div');
            parent.$el.appendChild(vueContainer);
            const vm = (new (Vue.extend(LoginDialog))());
            vm.$mount(vueContainer);
        }, */
        close() {
            this.dialogVisible = false;
            this.$nextTick(() => {
                this.$el.remove();
            });
        },
    },
    mounted() {
        console.log('ShowLogin');
    }
};
</script>

<style>

</style>

