<template>
  <el-container style="height: 100%;">
    <el-header>
      <span>Терминал</span>
    </el-header>

    <el-main v-loading="loading">
        <div>
            <span class="input-label">Серийный номер:</span>
            <el-input  v-model="terminal.serial" clearable></el-input>
        </div>
        <div>
            <span class="input-label">Описание:</span>
            <el-input v-model="terminal.description" clearable></el-input>
        </div>

        <div>
            <span  style="float: right;">
                <el-button type="success" @click="save" v-if="adminMode">Сохранить</el-button>
                <el-button @click="cancel">Отмена</el-button>
            </span>
            <p style="clear: both;"/>
        </div>

        <h2>Свойства:</h2>
        <div>
            <el-row :gutter="24">
                <el-col :span="5">
                    <span class="input-label">Последняя активность:</span>        
                </el-col>
                <el-col :span="14">
                    <span style="min-width: 50px; min-height: 10px;">{{terminal.last_activity}}</span>
                </el-col>
            </el-row>
            <el-row :gutter="24">
                <el-col :span="5">
                    <span class="input-label">Версия ПО:</span>        
                </el-col>
                <el-col :span="14">
                    <span style="min-width: 50px; min-height: 10px;">{{terminal_state.software.text_data}}</span>
                </el-col>
                <el-col :span="5">
                    <el-button @click="updateSoftware">Обновить</el-button>
                </el-col>
            </el-row>
        </div>

        <div>
            <el-row :gutter="24">
                <el-col :span="5">
                    <span class="input-label">Время синхронизации:</span>        
                </el-col>
                <el-col :span="14">
                    <el-input v-model="terminal_state.syncTime.int_data" clearable></el-input>
                </el-col>
                <el-col :span="5">
                    <el-button @click="setSyncTime">Установить</el-button>
                </el-col>
            </el-row>

            <el-row :gutter="24">
                <el-col :span="5">
                </el-col>
                <el-col :span="14">
                </el-col>
                <el-col :span="5">
                    <el-button @click="resetCounters">Сбросить счетчики</el-button>
                </el-col>
            </el-row>

            <el-row :gutter="24">
                <el-col :span="5">
                    <span class="input-label">Порог выгрузки файлов:</span>        
                </el-col>
                <el-col :span="14">
                    <el-input v-model="terminal_state.startStorageLimit.int_data" clearable></el-input>
                </el-col>
                <el-col :span="5">
                    <el-button @click="setStartStorageLimit">Установить</el-button>
                </el-col>
            </el-row>
            
            <el-row :gutter="24">
                <el-col :span="5">
                    <span class="input-label">Порог остановки записи:</span>        
                </el-col>
                <el-col :span="14">
                    <el-input v-model="terminal_state.stopStorageLimit.int_data" clearable></el-input>
                </el-col>
                <el-col :span="5">
                    <el-button @click="setStopStorageLimit">Установить</el-button>
                </el-col>
            </el-row>

            <el-row :gutter="24">
                <el-col :span="5">
                    <span class="input-label">Адрес файл-сервера:</span>        
                </el-col>
                <el-col :span="14">
                    <el-input v-model="terminal_state.uploadServerUrl.text_data" clearable></el-input>
                </el-col>
                <el-col :span="5">
                    <el-button @click="setUploadServerUrl">Установить</el-button>
                </el-col>
            </el-row>
        </div>

        <section v-if="adminMode && terminal.id">
            <p/>
            <hr/>
            <h2>Каналы:</h2>
            <el-table
                ref="channelList"
                :data="channels"
                >

                <el-table-column
                    prop="serial.text_data"
                    label="Серийный номер"
                >
                </el-table-column>
                    
                <el-table-column
                    prop="door.text_data"
                    label="Дверь"
                >
                </el-table-column>

                <el-table-column
                    prop="description"
                    label="Описание"
                >
                </el-table-column>

                <el-table-column
                    label="Операции"
                    width="100"
                >
                    <template slot-scope="scope">
                    <el-button
                        size="mini"
                        type="text"
                        icon="el-icon-edit"
                        @click="editChannel(scope.$index, scope.row)"></el-button>
                    <el-button
                        size="mini"
                        type="text"
                        icon="el-icon-delete"
                        @click="removeChannel(scope.$index, scope.row)" v-if="adminMode"></el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div>
                <el-button type="success" @click="addChannel" v-if="adminMode">Добавить канал</el-button>
            </div>
        </section>

        <section v-if="terminal.id">
            <p/>
            <hr/>
            <h2>События:</h2>

            <div>
                <span class="input-label">Даты:</span>
                <el-date-picker
                v-model="dateFilter"
                type="daterange"
                range-separator="по"
                start-placeholder="Начальная дата"
                end-placeholder="Конечная дата">
                </el-date-picker>      
                <el-button type="success" @click="loadTerminalData">Отчет</el-button>
            </div>

            <el-table
                ref="dataList"
                :data="data"
                >

                <el-table-column
                    prop="g_ts"
                    sortable
                    label="Время"
                    :formatter="dateFormatter"
                >
                </el-table-column>
                    
                <el-table-column
                    prop="channel_serial"
                    sortable
                    label="Сейрийный номер"
                >
                </el-table-column>

                <el-table-column
                    prop="value_name"
                    sortable
                    label="Событие"
                >
                </el-table-column>

                <el-table-column
                    prop="text_data"
                    sortable
                    label="Значение"
                    width="100"
                >
                </el-table-column>
            </el-table>
        </section>
    </el-main>
  </el-container>
</template>

<script>

import Vue from 'vue';
import es_config from '../../es_config';
import moment from 'moment';

export default {
  name: 'TerminalCard',
  components: {
  },
  data() {
    return {
        terminal: {
            serial: '',
            description: ''
        },
        channels: [],
        loading: false,
        adminMode: false,

        terminal_state: {
            software: '---',
            syncTime: '',
            startStorageLimit: '',
            stopStorageLimit: '',
            uploadServerUrl: ''
        },
        dateFilter: null,
        data: []
    };
  },
  methods: {
   
    dateFormatter(row, column) {
        return moment(new Date(row.g_ts)).format('DD/MM/YY HH:mm:ss');
    },

    async save() {
        try {
            if(!this.terminal.id) {
                const t = await this.$root.getApi().terminal().add(this.terminal);
                this.terminal.id = parseInt(t.id);
                this.$root.vehicleTree.loadData();
            }
            else {
                await this.$root.getApi().terminal().update(this.terminal);
                this.$root.vehicleTree.loadData();
            }
        } catch(err) {
            this.$alert(err, "Ошибка");
        }
    },
    cancel() {
        this.$router.go(-1);
    },
    complete(eventId) {
        this.$router.go(-1);
    },

    async loadChannels(id) {
        this.channels = await this.$root.getApi().channel().getList(id);

        for(let i = 0; i < this.channels.length; i++) {
            Object.assign(this.channels[i], await this.$root.getApi().channel().getState(this.channels[i].id));
        }
    },

    async loadData(id) {
        this.loading = true;

        try {
            if(id != null) {
                this.terminal = await this.$root.getApi().terminal().get(id);
                this.terminal.last_activity = moment(new Date(this.terminal.last_activity)).format('DD/MM/YY HH:mm:ss');

                this.terminal_state = {
                    software: '---',
                    syncTime: '',
                    startStorageLimit: '',
                    stopStorageLimit: '',
                    uploadServerUrl: ''
                }

                Object.assign(this.terminal_state, await this.$root.getApi().terminal().getState(id));
                await this.loadChannels(id);
            } else {
                this.terminal.vehicle_id = this.$route.query.vehicle_id;
            }
            this.loading = false;
        } catch(err) {
            this.$alert(err, 'Ошибка');
            this.loading = false;
        }
    },

    async loadTerminalData() {
        const startDate = this.dateFilter[0];
        const stopDate = this.dateFilter[1];
        this.data = await this.$root.getApi().terminal().getData(this.terminal.id, startDate, stopDate);
    },

    addChannel() {
        this.$router.push({path: 'empty'});
        Vue.nextTick( () => {
            this.$router.push({
                path: 'channel',
                query: {
                    terminal_id: this.terminal.id
                }
            });
        });
    },

    removeChannel(index, channel) {
      this.$confirm('Удалить канал?', 'Внимание!', {
          confirmButtonText: 'Да',
          cancelButtonText: 'Нет',
          type: 'warning'
      }).then(() => {
        this.$root.getApi().channel().remove(channel.id)
        .then(() => {
          this.channels.splice(index, 1);
        })
        .catch((err) => this.$alert(err, 'Ошибка'));
      });
    },

    editChannel(index, channel) {
      this.$router.push({
        path: 'channel',
        query: {
            id: channel.id
        }
      });
    },

    async updateSoftware() {
        try {
            const r = await this.$root.getApi().control().installSoftware(this.terminal.id, es_config.backend.proto + '://' + es_config.backend.host + ':' + es_config.backend.port + '/public/update.zip');

            console.log('result: ' + JSON.stringify(r));
        } catch(error) {
            this.$alert(error.error, 'Ошибка');
        }
    },

    async setSyncTime() {
        try {
            const r = await this.$root.getApi().control().setTerminalValue(this.terminal.id, 'syncTime', this.terminal_state.syncTime.int_data);
            console.log('result: ' + JSON.stringify(r));
        } catch(error) {
            this.$alert(error.error, 'Ошибка');
        }
    },

    async setStartStorageLimit() {
        try {
            const r = await this.$root.getApi().control().setTerminalValue(this.terminal.id, 'startStorageLimit', this.terminal_state.startStorageLimit.int_data);
            console.log('result: ' + JSON.stringify(r));
        } catch(error) {
            this.$alert(error.error, 'Ошибка');
        }
    },

    async setStopStorageLimit() {
        try {
            const r = await this.$root.getApi().control().setTerminalValue(this.terminal.id, 'stopStorageLimit', this.terminal_state.stopStorageLimit.int_data);
            console.log('result: ' + JSON.stringify(r));
        } catch(error) {
            this.$alert(error.error, 'Ошибка');
        }
    },

    async setUploadServerUrl() {
        try {
            const r = await this.$root.getApi().control().setTerminalValue(this.terminal.id, 'uploadServerUrl', this.terminal_state.uploadServerUrl.text_data);
            console.log('result: ' + JSON.stringify(r));
        } catch(error) {
            this.$alert(error.error, 'Ошибка');
        }
    },

    async resetCounters() {
        try {
            const r = await this.$root.getApi().control().resetCounters(this.terminal.id);

            console.log('result: ' + JSON.stringify(r));
        } catch(error) {
            this.$alert(error.error, 'Ошибка');
        }
    }
  },
  mounted() {
    this.loadData(this.$route.query.id);
    if(this.$root.connection && this.$root.connection.user && this.$root.connection.user.role == 1) this.adminMode = true;
  },
  beforeDestroy() {
    this.$root.getApi().control().unsubscribe(this.terminal.id).then(() => {});
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.input-label {
    display: inline-block;
    width: 130px;
}

.el-header {
  background-color: #ddd;
  color: #035597;
  line-height: 25px;
  
}

.el-main>div {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    margin: 16px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #aaaaaa;
    margin: 1em 0;
    padding: 0; 
}

</style>
