<template>
  <el-container style="height: 100%;">
    <el-header>
      <span>Транспортное средство</span>
    </el-header>

    <el-main v-loading="loading">
        <div>
            <span class="input-label title">Тип ТС:</span>
            <span class="input-label"> {{vehicle.type}} </span>
        </div>
        <div>
            <span class="input-label title">Номер ТС:</span>
            <span class="input-label"> {{vehicle.registration_number}} </span>
        </div>
        <div>
            <span class="input-label title">Номер маршрута:</span>
            <span class="input-label"> {{vehicle.route_number}} </span>
        </div>
        <div>
            <span class="input-label title">Контакт:</span>
            <span class="input-label"> {{vehicle.contact}} </span>
        </div>
        <div>
            <span class="input-label title">Описание:</span>
            <span class="input-label"> {{vehicle.description}} </span>
        </div>


        <el-table ref="terminalList" :data="terminals">
            <el-table-column prop="serial" label="Серийный номер"></el-table-column>
            <el-table-column prop="storage_size.int_data" label="Объем хранилища"></el-table-column>
            <el-table-column prop="storage_used.int_data" label="Заполнено"></el-table-column>
            <el-table-column prop="last_activity" label="Последняя активность"></el-table-column>
        </el-table>

        <el-table
            ref="channelList"
            :data="channels"
            >

            <el-table-column prop="door.text_data" label="Дверь"></el-table-column>
            <el-table-column prop="in_count.int_data" label="Вошло"></el-table-column>
            <el-table-column prop="in_count.g_ts" label="Последний вход"></el-table-column>
            <el-table-column prop="out_count.int_data" label="Вышло"></el-table-column>
            <el-table-column prop="out_count.g_ts" label="Последний выход"></el-table-column>
        </el-table>

        <!-- line-chart :data="data"></line-chart -->

    </el-main>
  </el-container>
</template>

<script>

import Vue from 'vue';
import moment from 'moment';

export default {
  name: 'VehicleView',
  components: {
  },
  data() {
    return {
        vehicle: {
        },
        terminals: [
        ],
        channels: [
        ],
        /*data: [
            {name: 'Workout', data: {'2017-01-01': 3, '2017-01-02': 4}},
            {name: 'Call parents', data: {'2017-01-01': 5, '2017-01-02': 3}}
        ],*/
        loading: false,
        adminMode: false,
        startDate: new Date(),
        stopDate: new Date()
    };
  },
  methods: {
    async loadData(id) {
        this.$root.getConnection().interface['control'] = {
            terminalInfo: async (connection, id, args) => {
                console.log('terminalInfo: ' + JSON.stringify(args, null, ' '));
                const idx = this.terminals.findIndex(x => x.serial == args.serial);
                if(idx != -1) {
                    if(!this.terminals[idx].storage_size) this.terminals[idx].storage_size = {};
                    if(!this.terminals[idx].storage_used) this.terminals[idx].storage_used = {};
                    this.terminals[idx].storage_size.int_data = parseInt(args.storage_size);
                    this.terminals[idx].storage_used.int_data = parseInt(args.storage_used);
                    this.terminals[idx].last_activity = moment(new Date()).format('DD/MM/YY HH:mm:ss');
                }
            },
            terminalEvent: async (connection, id, args) => {
                console.log('terminalEvent: ' + JSON.stringify(args, null, ' '));
                if(args.report) {

                    for(let i = 0; i < args.report.length; i++) {
                        const evt = args.report[i];
                        if(evt.channel) {
                            const idx = this.channels.findIndex(c => c.serial == evt.channel);
                            if(idx == -1) continue;

                            switch(evt.type) {
                                case 'in_count' :
                                        this.channels[idx].in_count.int_data = parseInt(evt.data);
                                        this.channels[idx].in_count.g_ts = moment(new Date(evt.time)).format('DD/MM/YY HH:mm:ss');
                                    break;
                                case 'out_count' :
                                        this.channels[idx].out_count.int_data = parseInt(evt.data);
                                        this.channels[idx].out_count.g_ts = moment(new Date(evt.time)).format('DD/MM/YY HH:mm:ss');
                                    break;
                            }
                        }
                    }
                }

                const idx = this.terminals.findIndex(x => x.id == args.terminal_id);
                if(idx != -1) {
                    this.terminals[idx].last_activity = moment(new Date()).format('DD/MM/YY HH:mm:ss');
                }
                
            }
        }

        this.loading = true;

        try {
            this.startDate = new Date();
            this.startDate.setHours(0);
            this.startDate.setMinutes(0);
            this.startDate.setSeconds(0);
            this.stopDate = new Date(this.startDate);
            this.stopDate.setDate(this.stopDate.getDate() + 1);

            if(id != null) {
                this.vehicle = await this.$root.getApi().vehicle().get(id);

                const terminals = await this.$root.getApi().terminal().getListByVehicleId(id);

                const newTerminals = [];
                const newChannels = [];

                let summaryIn = 0;
                let lastIn = null;
                let summaryOut = 0;
                let lastOut = null;

                for(let i = 0; i < terminals.length; i++) {
                    await this.$root.getApi().control().subscribe(terminals[i].id);

                    const state = await this.$root.getApi().terminal().getState(terminals[i].id);
                    state.id = terminals[i].id;
                    state.serial = terminals[i].serial;
                    if(terminals[i].last_activity) state.last_activity = moment(terminals[i].last_activity).format('DD/MM/YY HH:mm:ss');
                    newTerminals.push(state);

                    const channels = await this.$root.getApi().channel().getList(terminals[i].id);
                    for(let i = 0; i < channels.length; i++) {
                        const state = await this.$root.getApi().channel().getState(channels[i].id);
                        state.id = channels[i].id;
                        state.serial = channels[i].serial;
                        if(state.in_count) state.in_count.g_ts = moment(state.in_count.g_ts).format('DD/MM/YY HH:mm:ss');
                        if(state.out_count) state.out_count.g_ts = moment(state.out_count.g_ts).format('DD/MM/YY HH:mm:ss');
                        newChannels.push(state);

                        if(state.in_count) {
                            summaryIn += state.in_count.int_data;
                            const c = new Date(state.in_count.g_ts);
                            if(lastIn) {
                                if(lastIn.getTime() <= c.getTime()) lastIn = c;
                            } else {
                                lastIn = c;
                            }
                        }

                        if(state.out_count) {
                            summaryOut += state.out_count.int_data;
                            const c = new Date(state.out_count.g_ts);
                            if(lastOut) {
                                if(lastOut.getTime() <= c.getTime()) lastOut = c;
                            } else {
                                lastOut = c;
                            }
                        }

                        /*let data = await this.$root.getApi().terminal().getData(channels[i].id, 'in_count', this.startDate, this.stopDate);
                        let tData = {name: state.door + ' вход', data: []};
                        data.forEach(element => {
                            const d = {};
                            d[new Date(element.g_ts)] = element.int_data;
                            tData.data.push(d);
                        });
                        this.data.push(tData);*/
                    }
                }

                /*newChannels.push({
                    door: 'Сумма',
                    in_count:{
                        int_data: summaryIn,
                        g_ts: lastIn?moment(lastIn).format('DD/MM/YY hh:mm:ss'):'-'
                    },
                    out_count:{
                        int_data: summaryOut,
                        g_ts: lastOut?moment(lastOut).format('DD/MM/YY hh:mm:ss'):'-'
                    }
                });*/

                this.terminals = newTerminals;
                this.channels = newChannels;
            }
            this.loading = false;
        } catch(err) {
            this.$alert(err, 'Ошибка');
            this.loading = false;
        }
    }
  },
  mounted() {
    this.loadData(this.$route.query.id);
    if(this.$root.connection && this.$root.connection.user && this.$root.connection.user.role == 1) this.adminMode = true;
  },
  beforeDestroy() {
    for(let i = 0; i < this.terminals.length; i++) {
        this.$root.getApi().control().unsubscribe(this.terminals[i].id).then(() => {});
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.input-label {
    display: inline-block;
    width: 130px;
}

.el-header {
  background-color: #ddd;
  color: #035597;
  line-height: 25px;
  
}

.el-main>div {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    margin: 16px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #aaaaaa;
    margin: 1em 0;
    padding: 0; 
}

</style>
