<template>
  <el-container style="height: 100%;">
    <el-header style="height: 25px; background: #aaaaaa; color: #ffffff;">
      <span>Флот:</span>
    </el-header>

    <el-main v-loading="loading" style="background: #eeeeee;">
        <el-input
            placeholder="Поиск"
            v-model="filterText">
        </el-input>

        <el-tree
            style="background: #eeeeee;"
            class="filter-tree"
            :data="items"
            :props="treeProps"
            default-expand-all
            :filter-node-method="filterNode"
            ref="vehicleTree"
            :render-content="renderTreeNode"
            :expand-on-click-node="false"
            @node-click="viewVehicle">
        </el-tree>
    </el-main>

    <el-footer style="height: 32px; background: #aaaaaa; color: #ffffff; line-height: 32px;">
        <el-button type="primary" size="mini" icon="el-icon-circle-plus-outline" @click="createVehicle">Добавить ТС</el-button>
    </el-footer>
  </el-container>
</template>

<script>

import Vue from 'vue';

export default {
  name: 'VehicleTree',
  components: {
  },
    data() {
        return {
            items: [ ], 
            loading: false,
            treeProps: {
                children: 'children',
                label: 'name'
            },
            filterText: '',
            cancelView: false
        };
    },
    watch: {
        filterText(val) {
            this.$refs.vehicleTree.filter(val);
        }
    },  
    methods: {
        renderTreeNode(h, { node, data, store }) {
            switch(data.type) {
                case 'vehicle':
                    return (
                    <span class="custom-tree-node">
                        <span>{node.label}</span>
                        <span>
                            <el-button size="mini" type="text" icon="el-icon-edit" on-click={ () => this.editVehicle(data) }></el-button>
                            <el-button size="mini" type="text" icon="el-icon-delete" on-click={ () => this.removeVehicle(data) }></el-button>
                            <el-button size="mini" type="text" icon="el-icon-circle-plus-outline" on-click={ () => this.createTerminal(data) }></el-button>
                        </span>
                    </span>);
                break;
                case 'terminal':
                    return (
                    <span class="custom-tree-node">
                        <span>{node.label}</span>
                        <span>
                            <el-button size="mini" type="text" icon="el-icon-edit" on-click={ () => this.editTerminal(data) }></el-button>
                            <el-button size="mini" type="text" icon="el-icon-delete" on-click={ () => this.removeTerminal(data) }></el-button>
                        </span>
                    </span>);
                break;
                default:
                    return (
                    <span class="custom-tree-node">
                        <span>{node.label}</span>
                    </span>);
            }
        }, 
        async loadData() {
            this.loading = true;

            try {
                const terminalList = await this.$root.getApi().vehicle().getList();

                const newTree = [];

                terminalList.forEach(item => {
                    this.addTreeTerminal(newTree, item);
                });

                this.items = newTree;

                this.loading = false;
            } catch(err) {
                this.$alert(err, 'Ошибка');
                this.loading = false;
            }
        },

        // TODO: reduce search somehow make less copypaste
        addTreeTerminal(newTree, item){
            let type = newTree.find(x => x.name == item.type);
            if(!type) {
                type = {
                    name: item.type,
                    type: 'type',
                    children: []
                };

                newTree.push(type);
            }

            let route = type.children.find(x => x.name == item.route_number);
            if(!route) {
                route = {
                    name: item.route_number,
                    type: 'route',
                    children: []
                }

                type.children.push(route);
            }

            let vehicleIdx = route.children.findIndex(x => x.id == item.id);
            let vehicle = null;
            if(vehicleIdx === -1) {
                vehicle = {
                    id: item.id,
                    type: 'vehicle',
                    name: item.registration_number,
                    children: []
                };
                route.children.push(vehicle);
            } else {
                const t = route.children[vehicleIdx];

                vehicle = {
                    id: item.id,
                    type: 'vehicle',
                    name: item.registration_number,
                    children: t.children
                };
                route.children[vehicleIdx] = vehicle;
            }

            if(item.terminal_id) {
                const terminal = {
                    id: item.terminal_id,
                    type: 'terminal',
                    name: item.serial
                }

                let terminalIdx = vehicle.children.findIndex(x => x.id == item.terminal_id);
                if(terminalIdx === -1) vehicle.children.push(terminal);
                else vehicle.children[terminalIdx] = terminal;
            }
        },

        filterNode(value, data) {
            if (!value) return true;
            return data.name.indexOf(value) !== -1;
        },

        editVehicle(vehicle) {
            this.cancelView = true;
            this.$router.push({path: 'empty'});
            Vue.nextTick( () => {
                this.$router.push({
                    path: 'vehicle',
                    query: {
                        id: vehicle.id
                    }
                });
            });
        },

        removeVehicle(vehicle) {
            this.cancelView = true;
            this.$confirm('Удалить терминал ' + vehicle.name + '?', 'Внимание!', {
                confirmButtonText: 'Да',
                cancelButtonText: 'Нет',
                type: 'warning'
            }).then(() => {
                this.cancelView = false;
                this.$root.getApi().vehicle().remove(vehicle.id)
                .then(() => this.loadData(true))
                .catch((err) => this.$alert(err, 'Ошибка'));
            });
        },

        createVehicle() {
            this.$router.push({path: 'empty'});
            Vue.nextTick( () => {
                this.$router.push({
                    path: 'vehicle',
                    query: {
                        id: null
                    }
                });
            });
        },

        viewVehicle(node) {
            if(node.type != 'vehicle' || this.cancelView) {
                this.cancelView = false;
                return;
            }
            this.$router.push({path: 'empty'});
            Vue.nextTick( () => {
                this.$router.push({
                    path: 'vehicle_view',
                    query: {
                        id: node.id
                    }
                });
            });
        },

        editTerminal(terminal) {
            this.cancelView = true;
            this.$router.push({path: 'empty'});
            Vue.nextTick( () => {
                this.$router.push({
                    path: 'terminal',
                    query: {
                        id: terminal.id
                    }
                });
            });
        },

        removeTerminal(terminal) {
            this.$confirm('Удалить ТС ' + terminal.name + '?', 'Внимание!', {
                confirmButtonText: 'Да',
                cancelButtonText: 'Нет',
                type: 'warning'
            }).then(() => {
                this.$root.getApi().terminal().remove(terminal.id)
                .then(() => this.loadData(true))
                .catch((err) => this.$alert(err, 'Ошибка'));
            });
        },

        createTerminal(vehicle) {
            this.cancelView = true;
            this.$router.push({path: 'empty'});
            Vue.nextTick( () => {
                this.$router.push({
                    path: 'terminal',
                    query: {
                        id: null,
                        vehicle_id: vehicle.id
                    }
                });
            });
        }, 
    },
  mounted() {
    //this.loadData();
    this.$root.vehicleTree = this;
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.el-header {
  background-color: #ddd;
  color: #035597;
  line-height: 25px;
}

.custom-tree-node {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-right: 8px;
}

</style>
