<template>
  <el-container style="height: 100%;">
    <el-header>
      <span>Транспортное средство</span>
    </el-header>

    <el-main v-loading="loading">
        <div>
            <span class="input-label">Тип ТС:</span>
            <el-input  v-model="vehicle.type" clearable></el-input>
        </div>
        <div>
            <span class="input-label">Номер ТС:</span>
            <el-input v-model="vehicle.registration_number" clearable></el-input>
        </div>
        <div>
            <span class="input-label">Номер маршрута:</span>
            <el-input v-model="vehicle.route_number" clearable></el-input>
        </div>
        <div>
            <span class="input-label">Контакт:</span>
            <el-input v-model="vehicle.contact" clearable></el-input>
        </div>
        <div>
            <span class="input-label">Описание:</span>
            <el-input v-model="vehicle.description" clearable></el-input>
        </div>

        <div>
            <span  style="float: right;">
                <el-button type="success" @click="save" v-if="adminMode">Сохранить</el-button>
                <el-button @click="cancel">Отмена</el-button>
            </span>
            <p style="clear: both;"/>
        </div>
    </el-main>
  </el-container>
</template>

<script>

import Vue from 'vue';

export default {
  name: 'VehicleCard',
  components: {
  },
  data() {
    return {
        vehicle: {
            type: '',
            registration_number: '',
            route_number: '',
            contact: '',
            description: ''
        },
        loading: false,
        adminMode: false
    };
  },
  methods: {
   
    async save() {
        try {
            if(!this.vehicle.id) {
                const t = await this.$root.getApi().vehicle().add(this.vehicle);
                this.vehicle.id = parseInt(t.id);
                this.$root.vehicleTree.loadData();
            }
            else {
                await this.$root.getApi().vehicle().update(this.vehicle);
                this.$root.vehicleTree.loadData();
            }
        } catch(err) {
            this.$alert(err, "Ошибка");
        }
    },
    cancel() {
        this.$router.go(-1);
    },
    complete(eventId) {
        this.$router.go(-1);
    },

    async loadData(id) {
        this.loading = true;

        try {
            if(id != null) {
                this.vehicle = await this.$root.getApi().vehicle().get(id);
            }
            this.loading = false;
        } catch(err) {
            this.$alert(err, 'Ошибка');
            this.loading = false;
        }
    }
  },
  mounted() {
    this.loadData(this.$route.query.id);
    if(this.$root.connection && this.$root.connection.user && this.$root.connection.user.role == 1) this.adminMode = true;
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.input-label {
    display: inline-block;
    width: 130px;
}

.el-header {
  background-color: #ddd;
  color: #035597;
  line-height: 25px;
  
}

.el-main>div {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    margin: 16px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #aaaaaa;
    margin: 1em 0;
    padding: 0; 
}

</style>
