<template>
  <div id="app" height="100%">
    <el-container style="height: 100%;">

  
        <el-header class="user-accaunt-info" style="height: 30px; line-height: 30px;">
          <span>
            <i style="margin-right: 5px;" class="fa fa-user"></i>
            <a href="#" @click="gotoUserProfile" id="userProfileLink">{{currentUser.name}}</a>
            <a href="#" @click="logout" ><i class="fa fa-sign-out"></i></a>
          </span>
        </el-header>


        <el-container>
          <el-aside width="panelWidth">
            <vehicle-tree></vehicle-tree>
          </el-aside>

          <el-container>
            <el-main style="padding: 0;">
              <router-view :key="key"/>
            </el-main>
          </el-container>

        </el-container>
    </el-container>
  </div>
</template>

<script>
import Vue from 'vue';
import ElementUI from 'element-ui';
import locale from 'element-ui/lib/locale/lang/ru-RU';
import 'font-awesome/css/font-awesome.css';
import Chartkick from 'chartkick'
import VueChartkick from 'vue-chartkick'
import Chart from 'chart.js'

import VehicleTree from './components/VehicleTree.vue';

Vue.use(ElementUI, { size: 'small' });
Vue.use(ElementUI, { locale });
Vue.use(VueChartkick, { Chartkick });

export default {
  name: 'App',
  components: {
    VehicleTree
  },
  data() {
    return {
      currentUser: {id: 0, login: 'loggedout'},
      isCollapse: true,
      panelWidth: 64,
      key: null
    };
  },
  methods: {
    gotoUserProfile() {
      if(this.currentUser && this.currentUser.id) {
        this.$router.push({
          path: 'user',
          query: {
              id: this.currentUser.id
          }
        });
      }
    },

    toggleExpand() {
      this.isCollapse = this.isCollapse !== true;

      if (this.isCollapse) this.width = 64;
      else this.width = 240;
    },

    hideAdminControls() {

    },

    showAdminControls() {

    },

    updateUserProfileLink() {
    }
  },
  mounted() {
    this.hideAdminControls();
    this.$root.loggedIn = () => {
      this.currentUser = this.$root.connection.user;
      if(this.currentUser.is_admin) {
        this.showAdminControls();
      }
      this.updateUserProfileLink();
    };

    this.$root.loggedOut = () => {
      this.currentUser = {id: 0, login: 'loggedout'};
      this.hideAdminControls();
    }
  },
  inject: ['logout', 'getApi'],
};
</script>

<style>
#app {
  font-family: 'roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #035597;
  margin-top: 0px;
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
}

h1 {
  font-size: 16pt !important;
}

</style>
